* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

body {
	background-image: url(http://api.ixiaowai.cn/gqapi/gqapi.php);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
	font-family: "'Microsoft YaHei', arial, helvetica, sans-serif";
}

/* 导航栏 */
.nav {
	width: 100%;
	height: 60px;
	text-align: center;
	transition: all .5s;
}

.nav:hover {
	background-color: rgba(255, 255, 255, 0.6);
}

.nav ul {
	display: inline-block;
}

.nav ul li {
	float: left;
}

.nav ul li a {
	color: #000000;
	line-height: 60px;
	padding: 0 25px;
}

.nav ul li a:hover {
	color: #ff0000;
}

/* 搜索框 */
.search {
	width: 100%;
	margin-top: 200px;
	text-align: center;
}

.search h1 {
	margin: 100px 0;
	color: #fff;
}

.search form {
	margin: 0 auto;
}

.search .text {
	width: 320px;
	height: 30px;
}

.search .button {
	width: 80px;
	height: 32px;
	margin-left: 10px;
	border: 0px;
	border-radius: 10px;
	transition: all .3s;
}

.search .button:hover {
	background-color: #ff5500;
}

.search .button:active {
	transform: translateY(3px);
}

/* 底部 */
.footer {
	width: 100%;
	color: #fff;
	margin-top: 20%;
	text-align: center;
}

.footer span a:hover {
	color: #ffaa00;
}
